<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karur Hospital</title>
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    
    <!-- BootStrap Script links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&family=Spartan:wght@200&display=swap" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="bod">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(24, 24, 95);">
    <a class="navbar-brand" href="#" style="font-family: 'Spartan', sans-serif;"><i class="fas fa-hospital"></i> KARUR  HEALTH CARE </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link mr-3" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3 ml-2" href="/admission">ADMISSION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3 ml-2" href="/ambulance">AMBULANCE</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link mr-3 ml-2" href="/medical">MEDICAL</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link mr-3 ml-2" href="/admin">ADMIN</a>
        </li>
        <!-- <li class="nav-item">
            <a href="/admin" style="text-decoration: none;"><button class="btn btn-outline-success nav-link mr-3 ml-2" style="border: none;">ADMIN</button></a>
        </li> -->
      </ul>
    </div>
  </nav>
  <a href="/ambulanceDet"><button class="btn btn-lg btn-primary float-right mr-4 mt-4"><i class="fas fa-bars"></i> View Ambulance Details</button></a>
  <div>
    <h2 class="cont1-head admiss-head" style="padding-top: 3%;">Admission Details</h2>
  <table class="mt-5 admiss-table" style="width:100%;">
    <tr class="head">
      <th>Admission no.</th>
      <th>Admission Date</th>
      <th>Patient Name</th>
      <th>Patient Age</th>
      <th>Date of Birth</th>
      <th>Patient Address</th>
      <th>Purpose of Admission</th>
      <th>Attender Name</th>
    </tr>  
    <% found.forEach((val) => { %>
      <% if(admiss_no == val.admission_no ) { %>
    <tr class="data" style="background-color: rgba(25, 25, 97, 0.911);color: white;;">
      <td><%= val.admission_no %></td>
      <td><%= val.admis_date %>/<%= val.admis_month %>/<%= val.admis_year %></td>
      <td><%= val.p_name %></td>
      <td><%= val.age %></td>
      <td><%= val.dob %></td>
      <td><%= val.address %></td>
      <td><%= val.purpose %></td>
      <td><%= val.a_name %></td>
    </tr> 
    <% } else { %>
    <tr class="data">
      <td><%= val.admission_no %></td>
      <td><%= val.admis_date %>/<%= val.admis_month %>/<%= val.admis_year %></td>
      <td><%= val.p_name %></td>
      <td><%= val.age %></td>
      <td><%= val.dob %></td>
      <td><%= val.address %></td>
      <td><%= val.purpose %></td>
      <td><%= val.a_name %></td>
    </tr> 
    <% } %>
    <% }) %> 
  </table>
  </div>
</body>
</html>      