<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karur Hospital</title>
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/styles.css">
    
    <!-- BootStrap Script links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/8bbe7ed51b.js" crossorigin="anonymous"></script>

    <!-- animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(24, 24, 95);">
    <a class="navbar-brand" href="#" style="font-family: 'Spartan', sans-serif;"><i class="fas fa-hospital"></i> KARUR  HEALTH CARE </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link mr-3 ml-2" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3 ml-2" href="/admission">ADMISSION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3 ml-2" href="/ambulance">AMBULANCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3 ml-2 active" href="/admin">ADMIN</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="limiter">
    <div class="pb-5">
    <a href="/admissionDet"><button class="btn btn-lg btn-primary float-right mr-4 mt-4"><i class="fas fa-bars"></i> View Admission Details</button></a>
      <h2 class="cont1-head admiss-head" style="padding-top: 3%;color: white;">Ambulance Details</h2>
      </div>
<div class="table100 pb-5">
<table>
<thead>
<tr class="table100-head">
<th class="column1">Sno.</th>
<th class="column2">Patient Name</th>
<th class="column3">From</th>
<th class="column4">To</th>
<th class="column5">Date</th>
<th class="column6">No. of Attenders allowed</th>
<th class="column7">Attender Name</th>
<th class="column8">Status</th>
</tr>
</thead>
<tbody>
  <% found.forEach((val) => { %>
    <tr class="data">
      <form action="/deleteamb" method="post">
        <td class="column1"><%= sno++ %></td>
        <td class="column2"><%= val.patientName %></td>
        <td class="column3"><%= val.from %></td>
        <td class="column4"><%= val.to %></td>
        <td class="column5"><%= val.time %></td>
        <td class="column6"><%= val.attenders %></td>
        <td class="column7"><%= val.attenderName %></td>
        <input type="hidden" name="id" value="<%= val._id %>">
        <td><button type="button" class="btn" data-toggle="modal" data-target="#modalConfirmDelete"><i class="fa-solid fa-trash-can"></i></button></td>
        <!--Modal: modalConfirmDelete-->
  <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center dltMod">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center bg-danger">
        <p class="heading pt-2 pb-2" style="color: white;">Are you sure You want to delete?</p>
      </div>

      <!--Body-->
      <div class="modal-body mt-2 mb-2">

        <i class="fas fa-times fa-5x animate__animated animate__rotateIn" style="color: red;"></i>

      </div>

      <!--Footer-->
      <div class="modal-footer flex-center mt-2 mb-2 yesNo">
        <!-- <a href="" class="btn  btn-outline-danger">Yes</a> -->
        <button class="btn btn-outline-danger btn-lg yes" type="submit">Yes</button> 
        <a type="button" class="btn btn-danger waves-effect btn-lg no ml-lg-5" data-dismiss="modal">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
  </div>
  <!--Modal: modalConfirmDelete-->
      </form>
    </tr> 
    <% }) %> 
</tbody>
</table>
</div>
</div>
</body>
</html>
